@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700 |Fascinate+Inline| Exo:100,200,300,400,500,600,700 | Anton:400');

body {
    font-family: "Roboto Slab", sans-serif;
    color: #fafafa;
}

/*----------general------*/

.uppercase {
    text-transform: uppercase;
}

h2 {
    font-family: 'Fascinate Inline', cursive;
    font-weight: 400;
    font-size: 50px;
}

.h4- {
    margin-left: 50px
}

/*----------containers------*/

.container-header,
.container-footer {
    margin: 0;
    padding: 0;
}

.container-header {
    /*height: 100vh;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fafafa;
}

.container-cta,
.container-band,
.container-festivals,
.container-discography,
.container-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f0f0d;
    padding: 0;
    color: #fafafa;
    margin: 0;
}
/*----------Header Images------*/

.img-header-home,
.img-header-band,
.img-header-festivals,
.img-header-discog {
    max-width: 60%;
    max-height: 300px;
    padding-left: 20px;
    padding-right: 20px;
}


.wrapper {
   /* height: 100vh;*/
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(../assets/images/Red-Cloud-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 75, 94, 0.3);
}

/*----------header------*/

.bandname {
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.anniversary {
    font-family: "Exo";
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}


/*----------social links------*/

.social-header {
    margin: 30px auto;
    padding: 0;
    text-align: center;
}

.icon {
    position: relative;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50%;
    color: #FFFFFF;
}

.icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
}

.icon.social {
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    background-color: #6d6e71;
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.icon.social:hover {
    background-color: #78449c;
}

.icon.social.fb i {
    left: 13px;
    top: 10px;
}

.icon.social.tw i {
    left: 11px;
}

.icon.social.in i {
    left: 11px;
}

/*----------header navigation menu------*/

.navbar {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    padding: 10px
}

.img-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-section {
    padding: 0;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    border: hidden;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e0aaaa;
}

.navbar-default .navbar-toggle:hover {
    background-color: #9e5a5a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse {
    border-color: transparent
}

#navbarCollapse {
    position: absolute;
    z-index: 1;
    background-color: rgb(100, 48, 49);
    padding: 0;
}

.menulist {
    margin-bottom: 20px;
    padding-left: 20px;
    margin-right: 10px;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;
    font-family: Exo;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*----------CTA------*/



.thumbnail-cta {
    border: 0;
    background-color: transparent;
    text-align: center;
}

.caption-thumbnail-cta h3 {
    color: #fafafa;
}

.row-cta-bandmembers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row-cta-festivals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cta-p-info {
    text-align: center;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;
}

.cta-p-info a {
    text-decoration: none;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #108410;
}

.img-cta-special-guest {
    width: 80%;
    height: auto;
}

.col-cta-festivals {
    text-align: center;
}

.col-cta-festival-logo {
    padding: 10px;
}

.img-cta-festivals {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.row-cta-sound {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

.col-cta-sound {
    left: 10%;
    margin-bottom: 20px;
}

/*----------Band------*/

.band-data {
    display: block;
    margin:20px 30px 30px 20px;
    text-align: justify;
    text-justify: inter-word ;
}

.blockquote-band {
    margin:20px 20px 30px 20px;
    text-align: justify;
    text-justify: inter-word ;
}

.row-bandmembers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.blockquote-bandmembers {
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 25;
}

.col-bandmembers-data {
    margin-top: 20px;
    margin-bottom: 50px;
}

.table-bandmembers-data {
    display: block;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0;
    font-size: 20px;
    color: #fafafa;
}

/*----------Festivals------*/

.row-festivals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.thumbnail-festivals {
    max-width: 350px;
    background-color: transparent;
    border: 0;
    margin: 0 auto;
}

.festival-logo-holder {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.h4-caption-festival {
    color: #fafafa;
}

.table-festivals-data {
    color: #fafafa;
}    

/*----------Discographhy------*/

.discography-header {
    padding-top: 30px;
    margin: 0;
}

.p-discography {
    padding-bottom: 50px;
}

.h3-discog {
    margin-top: 50px;
    text-align: center;
}

.row-discog-albums {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.thumbnail-album {
    max-width: 350px;
    background-color: transparent;
    border: 0;
    margin: 50px 10px 10px 10px;
}

.image-wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.thumbnail-album-data {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    background-color: grey;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    visibility: hidden;
}

.thumbnail-album-data h5 {
    margin-left: 25%;
    font-weight: 500;
    padding: 0;
   
}

.ul-track-list {
    list-style: none;
    padding: 0;
    margin-left: 25%;
    font-weight: 500;
}

.image-wrapper:hover .thumbnail-album-data {
    visibility: visible;
}

.ol-album-tracks {
    list-style-type: decimal;
}

.row-discog-singles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;   
}

.singles-section {
    width: 100%;
    }
    
.table-singles {
    width: 90%;
    margin: 0 auto;
}

.ul-compilation {
    margin-bottom: 50px
}

/*----------History------*/

.h4-history {
    margin-top: 30px;
}

.blockquote-history {
    margin:20px 20px 30px 20px;
    text-align: justify;
    text-justify: inter-word ;
}

.iframe-history {
    width: 100%;
    height: auto;
}

.pageheader {
    margin-bottom: 20px;
}

.figure-history {
    margin: 0 auto;
}

.row-history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;    
}

.history-data {
    display: block;
    margin:20px 20px 30px 20px;
    text-align: justify;
    text-justify: inter-word ;
}

.img-history {
    height: 250px;
    width: 250px;
}


.thumbnail-history {
    background-color: transparent;
    text-align: center;
    border: 0;
    padding: 0;
}

.caption-thumbnail-history h3 {
    margin-top: 0;
    color: #fafafa;
}

.caption-thumbnail-history p {
    color: #fafafa;
}

.ul-thumbnails-history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}




/*----------footer------*/

.container-footer {
    min-height: 200px;
    position: relative;
    background-color: #b0150a;
    color: #fafafa;
}

.social-footer {
    margin: 50px auto;
    text-align: center;

}

.bandname-footer {
    font-family: 'Fascinate Inline', cursive;
    font-size: 35px;
}

h3 img {
    width: 25px;
    height: 25px;
}

.founders-footer {
    font-family: "Exo";
    font-size: 25px;
    font-weight: 400;
}

/* Buttons and Dividers */

.btn--cta {
    font-weight: bold;
    border-radius: 24px;
}

.btn--history {
    font-weight: bold;
    border-radius: 20px;
}

.btn--green {
    color: #fafafa;
    background-color: #108410;
    border-color: #108410;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #438643;
    border-color: #438643;
    color: #fafafa;
}

.block-divider {
    width: 125px;
    height: 5px;
    border: 0;
    margin-top: 20px;
}

.block-divider--green {
    background-color: #108410
}


/*----------I Frames------*/

.intrinsic-container {
  height: 0;
  overflow: hidden;
}

.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 40%;
}
/*----*/
/*----------Media Queries------*/

@media(min-width:768px) {
    .table-bandmembers-data {
        width: 100%;
        margin-top: 30px;
    }
    
    .bandname {
        margin-top: 50px;
    }
    
    #navbarCollapse {
        background-color: transparent;
    }
    
    .image-wrapper:hover .thumbnail-album-data {
        visibility: hidden;
    }
    
    .p-discog-albums {
        display: none;
    }
    
    .table-singles {
        width: 80%;
    }

}
