@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700 |Fascinate+Inline| Exo:100,200,300,400,500,600,700 | Anton:400');

body {
    font-family: "Roboto Slab", sans-serif;
}

/*----------general------*/

.uppercase {
    text-transform: uppercase;
}

h2 {
    font-family: 'Fascinate Inline', cursive;
    font-weight: 400;
    font-size: 50px;
}

.row {
    margin: 0;
}

/*----------containers------*/

.container-header, .container-section, .container-footer {
    margin: 0;
    padding: 0;
}


.container-section {
    width: 100%;
    background: url(../assets/images/Red-Cloud-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 75, 94, 0.5);
}

/*----------header------*/

.container-header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fafafa;
}

.img-header {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000;
}

.bandname {
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
}

.founders {
    font-family: "Exo";
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
}

.anniversary {
    font-family: "Exo";
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}


/*----------header social links------*/
.social-header {
    margin: 30px auto;
    padding: 0;
    text-align:center;
}

.icon {
	position:relative;
	text-align:center;
	width: 40px;
	height: 40px;
	padding:20px;
	border-radius: 50%;
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background-color: #6d6e71 ;
	color: #fafafa;
	transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.icon.social:hover {
	background-color: #78449c;
}
	
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}



/*----------header navigation menu------*/

.navbar {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    padding: 10px 
}

.img-logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    border: hidden;
    transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
       color: #e0aaaa;
}

.navbar-default .navbar-toggle:hover {
    background-color: #9e5a5a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse {
    border-color: transparent
    
}

#navbarCollapse {
    position: absolute;
    z-index: 1;
}

.menulist {
       margin-bottom: 20px;
       padding-left: 30px;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;
    font-family: Exo;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*----------CTA------*/

.container-cta {
    background-color: #ff700d;
    padding: 0;
    color: #fafafa;
}

.cta-p-info {
    margin-top: 30px;
}

.col-cta-meet-the-band {
    text-align: center;
    padding: 0;
}

.col-cta-bandmember {
   text-align: center;
   margin: 2em 0 0 0;
   padding: 0;
}

.col-band-member {
    width: 100%;
    height: auto;
}

.cta-p-info {
    text-align: center;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;
}

.cta-p-info a {
    text-decoration: none;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #108410;
}

.col-cta-special-guest {
    text-align: center;
    padding: 0;
    margin-bottom:30px;
}

.img-cta-special-guest {
    width: 100%;
    height: auto;
}

.col-cta-festivals {
    text-align: center;
}

.col-cta-festival-logo {
    padding: 10px;
}

.img-cta-festivals {
    min-height: 150px;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

/*----------News------*/

.container-news {
    display: block;
    min-height: 700px;
    width: 100%;
    position: relative;
    background-color: #c0bbba;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


/*----------Catalogue------*/
.container-wrapper {
    margin: 0;
    background-color: DodgerBlue;
    text-align: center;
}

.container-catalogue {
  display: flex;
  flex-wrap: wrap;
}

.catalogue-header{
    padding-top: 30px;
    margin: 0;
}


.p-catalogue {
    padding-bottom: 50px;
}

.album-section {
    position: relative;
    width: 350px;
    margin: 10px;
    color: red;
    text-align: center;
    font-size: 30px;
}

.img-album {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    backface-visibility: hidden;
}
    
.centered {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.album-section:hover .img-album {
  opacity: 0.5;
}

.album-section:hover .centered {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 16px 32px;
} 

/*----------Dates------*/

.container-dates {
    margin: 0;
    padding-bottom: 50px;
}

.header-dates {
    text-align: center;
}

.row-caption {
    text-transform: uppercase;
    font-family: Exo, sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.row-dates {
    min-height: 200px;
    padding-bottom: 10px;
}

.col-img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.col02-dates, .col03-dates, .col04-dates {
    display: table-cell;
    vertical-align: middle;
}

/*----------History------*/
.header-history {
    text-align: center;
}

.brief-h {
    text-align: center;
}

.col-bm {
    background-color: grey;
}


.container-band {
    margin: 0;
    padding-bottom: 50px;
}

.row-band-members {
    padding-bottom: 30px;
}

.img-band {
    width: 100%;
    height: auto;
}


/*----------footer------*/

.container-footer {
    min-height: 200px;
    position: relative;
    background-color: #5a2b32;
    color: #fafafa;
}

.social-footer {
     margin:50px auto;
     text-align:center;

} 

.bandname-footer {
    font-family: 'Fascinate Inline', cursive;
    font-size: 35px;
}

h3 img {
    width: 25px;
    height: 25px;
}

.founders-footer {
    font-family: "Exo";
    font-size: 25px;
    font-weight: 400;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 24px;
}

.btn--green {
    color: #fafafa;
    background-color: #108410;
    border-color: #108410;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #438643;
    border-color: #438643;
    color: #fafafa;
}

@media(min-width:992px) {
    
}