@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700 |Fascinate+Inline| Exo:100,200,300,400,500,600,700 | Anton:400');

body {
    font-family: "Roboto Slab", sans-serif;
}

/*----------general------*/

.uppercase {
    text-transform: uppercase;
}

h2 {
    font-family: 'Fascinate Inline', cursive;
    font-weight: 400;
    font-size: 50px;
}

.h4- {
    margin-left: 50px
}

.row {
    margin: 0;
}

/*----------containers------*/

.container-header, .container-footer {
    margin: 0;
    padding: 0;
}

/*----------Header Images------*/

.img-header-home {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.img-header-band {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(../assets/images/Red-Cloud-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 75, 94, 0.5);
}

/*----------header------*/

.container-header {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fafafa;
}

.img-header-home {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.bandname {
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.anniversary {
    font-family: "Exo";
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}


/*----------social links------*/
.social-header {
    margin: 30px auto;
    padding: 0;
    text-align:center;
}

.icon {
	position:relative;
	text-align:center;
	width: 40px;
	height: 40px;
	padding:20px;
	border-radius: 50%;
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background-color: #6d6e71 ;
	color: #fafafa;
	transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.icon.social:hover {
	background-color: #78449c;
}
	
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

/*----------header navigation menu------*/

.navbar {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    padding: 10px 
}

.img-logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.navbar-section {
    padding: 0;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    border: hidden;
    transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
       color: #e0aaaa;
}

.navbar-default .navbar-toggle:hover {
    background-color: #9e5a5a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse {
    border-color: transparent
    
}

#navbarCollapse {
    position: absolute;
    z-index: 1;
}

.menulist {
       margin-bottom: 20px;
       padding-left: 30px;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;
    font-family: Exo;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*----------CTA------*/

.container-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #ff700d;
    padding: 0;
    color: #fafafa;
}

.cta-p-info {
    margin-top: 30px;
}

.col-cta-meet-the-band {
    text-align: center;
    padding: 0;
}

.thumbnail-cta {
    border: 0;
    background-color: transparent;
    text-align: center;
}

.col-cta-bandmember {
   text-align: center;
   margin: 2em 0 0 0;
   padding: 0;
}

.col-band-member {
    width: 100%;
    height: auto;
}

.cta-p-info {
    text-align: center;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;
}

.cta-p-info a {
    text-decoration: none;
    font-family: Exo;
    font-size: 20px;
    font-weight: bold;
    color: #108410;
}

.col-cta-special-guest {
    text-align: center;
    padding: 0;
    margin-bottom:30px;
}

.img-cta-special-guest {
    width: 100%;
    height: auto;
}

.col-cta-festivals {
    text-align: center;
}

.col-cta-festival-logo {
    padding: 10px;
}

.img-cta-festivals {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/*----------Band------*/

.container-band {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff700d;
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.section-bandmembers {
    margin: 10px;
}

.img-bandmembers {
    max-width: 300px;
    max-height: 300px;
    margin: 30px 30px 0 30px;
}

.row-eq-height {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
}

.col-cta-festival-logo .col {
    display:flex;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
}

.row-bandmembers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blockquote-bandmembers {
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 25;
}



.table-bandmembers-data {
    display: block;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0;
    font-size: 20px;
    color: #fafafa;
    width: 70%;
}

/*----------Festivals------*/

.container-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff700d;
    padding: 0;
    color: #fafafa;
    margin: 0;
}

.col-dates-header {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.col-dates-festivals {
    padding: 0;
    margin: 0;
}

.col-dates-logo {
    text-align: center;
    width: 100%;
    height: auto;
}

.col-img-festivals {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.col-dates-type {
    font-family: Exo;
    font-weight: 500;
    font-size: 15px;
}

.col-dates-info {
    font-family: Exo;
    font-weight: 300;
    font-size: 15px;
}


/*----------Catalogue------*/
.container-catalogue {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ff700d;
    padding: 0;
    color: #fafafa;
}

.catalogue-header{
    padding-top: 30px;
    margin: 0;
}

.p-catalogue {
    padding-bottom: 50px;
}

.h4-discog {
    margin-left: 50px
}

.container-albums {
  display: flex;
  flex-wrap: wrap;
}

.album-section {
    padding: 10px;
}

.row-albums {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    margin: 10px
}

.img-album {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 10px 30px;;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    backface-visibility: hidden;
}
    
.centered {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.img-album:hover {
  opacity: 0.5;
}

 .centered:hover {
  opacity: 1;
}

.text {
  background-color: grey;
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 16px 32px;
} 

.ol-album-tracks {
    list-style-type: decimal;
}

.table-singles {
    margin: 25px 30px 25px;
}

.ul-compilation {
    margin-bottom: 50px
}


/*----------History------*/
.container-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ff700d;
    padding: 0;
    color: #fafafa;   
}

.header-history {
    text-align: center;
}

.brief-h {
    text-align: center;
}


/*----------footer------*/

.container-footer {
    min-height: 200px;
    position: relative;
    background-color: #5a2b32;
    color: #fafafa;
}

.social-footer {
     margin:50px auto;
     text-align:center;

} 

.bandname-footer {
    font-family: 'Fascinate Inline', cursive;
    font-size: 35px;
}

h3 img {
    width: 25px;
    height: 25px;
}

.founders-footer {
    font-family: "Exo";
    font-size: 25px;
    font-weight: 400;
}

/* Buttons and Dividers */
.btn--cta {
    font-weight: bold;
    border-radius: 24px;
}

.btn--green {
    color: #fafafa;
    background-color: #108410;
    border-color: #108410;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #438643;
    border-color: #438643;
    color: #fafafa;
}

.block-divider {
    width: 125px;
    height: 5px;
    border: 0;
    margin-top: 20px;
}

.block-divider--green {
    background-color: #108410
}

@media(min-width:768px) {
    .table-bandmembers-data {
        width: 100%;
        margin-top: 30px;
    }
    
    .bandname {
        margin-top: 75px;
    }

}
